In [4]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
user_data = pd.read_csv(url, sep="|")

# Assign it to a variable called users and use the 'user_id' as index

In [5]:
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url, sep='|', index_col='user_id')
print(users.head())

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

# See the first 10 and last 10 entries

In [6]:
print(users.head(10))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [7]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

# What is the number of observations in the dataset?

In [10]:
num_observations = users.shape[0]
print("Number of Observations :",num_observations)

Number of Observations : 943

# What is the number of columns in the dataset?

In [15]:
num_columns=users.shape[1]
print("Number of Columns:",num_columns)

Number of Columns: 4

# Print the name of all the columns.

In [17]:
column_names = users.columns
column_names

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

# How is the dataset indexed?

In [19]:
index_type = users.index
index_type

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

# What is the data type of each column?

In [21]:
column_data_types = users.dtypes
column_data_types

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

# Print only the occupation column

In [23]:
occupation_column = users['occupation']
occupation_column

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

# How many different occupations are in this dataset?

In [24]:
num_unique_occupations = users['occupation'].nunique()
num_unique_occupations

21

# What is the most frequent occupation?

In [28]:
most_frequent_occupation = users['occupation'].value_counts().idxmax()
most_frequent_occupation

'student'

# DataFrame Info.

In [29]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

# Describe all the columns

In [31]:
columns_description = users.describe(include='all')
columns_description

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

# Summarize only the occupation column

In [32]:
occupation_description = users['occupation'].describe()
occupation_description

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

# What is the mean age of users?

In [33]:
mean_age = users['age'].mean()
mean_age

34.05196182396607

# What is the age with least occurrence?

In [34]:
least_occurred_age = users['age'].value_counts().idxmin()
least_occurred_age

7